NEXT_PUBLIC_API_URL=''

# markai dsn:https://5ca09f7529e11455bbfa9fe0d0ca2fb2@o4511028308475904.ingest.us.sentry.io/4511028363722752
# mark web: https://db361de4568f677950701c2de32268ca@o4511028308475904.ingest.us.sentry.io/4511028369817600

#posthog region: US Cloud
#posthog public token: phc_6gRuOOTYzPG1onANGCMkZbEX08REisl8olGvaJIawrr

#Sentry auth token: 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